/*Roots*/
.body {
  background-color: #fff;
  font-family: 'Roboto', sans-serif;
}
:root {
  --general-color: #212121;
  --paragraph-color: #757575;
  --accent-color: #2196f3;
  --back-color: #2f303a;
  --general-second-color: #ffffff;
}

*,
*::before,
*::after {
  margin: 0;
  padding: 0;
}
img {
  display: block;
}
.container {
  display: flex;
  align-items: center;
  width: 1170px;
  margin: 0 auto;
}
.container-back-top {
  align-items: center;
  width: 1600px;
  margin: 0 auto;
  background-color: var(--back-color);
  min-height: 600px;
}
.container-back-bottom {
  align-items: center;
  width: 1600px;
  margin: 0 auto;
  background-color: var(--back-color);
  min-height: 252px;
  display: block;
}

/*Header*/
.header {
  padding-top: 32px;
  padding-bottom: 32px;
  align-items: center;
  display: flex;
}

.logo {
  margin-right: 93px;
}
.logo-img {
  width: 145px;
  height: 31px;
}
.navigation {
  display: flex;
  align-items: center;
}
.navigation-list {
  list-style: none;
  display: flex;
}
.navigation-list-item:not(:last-child) {
  margin-right: 50px;
}
.navigation-list-item {
}
.navigation-link {
  font-family: Roboto;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--general-color);
  text-decoration: none;
}
.navigation-link:hover,
.navigation-link:focus {
  color: var(--accent-color);
}
.address-top {
  display: flex;
  margin-left: auto;
}
.header-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
  text-decoration: none;
  margin-right: 50px;
}
.header-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.02em;
  color: var(--paragraph-color);
  text-decoration: none;
}
.header-mail:hover,
.header-mail:focus {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}
.header-tel:hover,
.header-tel:focus {
  color: var(--accent-color);
  text-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
}

/*Hero*/
.studio-main {
}
.hero {
  background-color: var(--back-color);
}

.hero-title {
  font-family: Roboto;
  font-weight: 900;
  font-size: 44px;
  line-height: 60px;
  color: var(--general-second-color);
  text-align: center;
  text-transform: uppercase;
  padding-top: 200px;
}
.hero-button {
  color: var(--general-color);
  background-color: #f5f4fa;
  border: 1px solid black;
  border-color: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 200px;
  min-height: 50px;
  margin-left: 700px;

  margin-top: 30px;
}
.hero-button:hover,
.hero-button:focus {
  color: var(--general-second-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

.hero-button-text {
}

/*opportunity*/

.opportunity {
  width: 1170px;
  margin: 0 auto;
  margin-top: 94px;
}
.opportunity-list {
  list-style: none;
  display: flex;
}
.opportunity-list-item {
  width: 270px;
}

.opportunity-title {
  font-family: Roboto;
  font-weight: bold;
  font-size: 14px;
  line-height: 16px;
  letter-spacing: 0.03em;
  text-transform: uppercase;
  color: var(--general-color);
  padding-bottom: 10px;
}
.opportunity-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  padding-right: 30px;
}

/*Warks*/

.warks {
  width: 1170px;
  margin: 0 auto;
}
.works-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  margin-top: 100px;
  margin-bottom: 50px;
  color: var(--general-color);
}
.works-list {
  list-style: none;
  display: flex;
  width: 1170px;
  margin: 0 auto;
}
.works-item {
  padding-right: 30px;
}
.works-img {
}

/*team*/
.team {
  margin-top: 100px;
  background-color: #f5f4fa;
}
.team-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 42px;
  text-align: center;
  letter-spacing: 0.03em;
  color: var(--general-color);
  padding-top: 94px;
  padding-bottom: 50px;
}
.team-list {
  list-style: none;
  display: flex;
  padding-bottom: 94px;

  padding-left: 215px;
}
.team-list-item {
  box-shadow: 0px 1px 3px rgba(0, 0, 0, 0.12), 0px 1px 1px rgba(0, 0, 0, 0.14),
    0px 2px 1px rgba(0, 0, 0, 0.2);
  border-radius: 0px 0px 4px 4px;
  border: 1px solid rgb(241, 234, 234);
  background-color: #fff;
  text-align: center;
}
.team-list-item:not(:first-child) {
  margin-left: 30px;
}
.container-team {
  background-color: #f5f4fa;
  width: 1600px;
  margin: 0 auto;
}
.team-img {
}
.team-employee {
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 19px;
  letter-spacing: 0.03em;
  color: var(--general-color);
  text-transform: uppercase;
  padding-top: 35px;
}
.team-profession {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 19px;
  color: var(--paragraph-color);
  padding-bottom: 30px;
  padding-top: 10px;
}

.olha {
  padding-top: 9px;
}

/* footer*/

.footer {
  background-color: var(--back-color);
}
.footer-img {
  padding-bottom: 20px;
  padding-top: 60px;
  padding-left: 215px;
}
.footer-map {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: var(--general-second-color);
  padding-bottom: 9px;
  padding-left: 215px;
}
.address-link {
  padding-left: 215px;
}
.footer-mail {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
  padding-bottom: 9px;
  display: block;
}
.address-link:hover,
.address-link:focus {
}
.footer-tel {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 14px;
  line-height: 24px;
  letter-spacing: 0.03em;
  color: rgba(255, 255, 255, 0.6);
  text-decoration: none;
}
.footer-tel:hover,
.footer-tel:focus {
}
.footer-telefon {
}

/*portfolio*/

.menu {
}
.menu-nav {
}
.menu-nav-list {
  list-style: none;
  display: flex;
  padding-top: 82px;
  padding-bottom: 32px;
  align-items: center;
  display: flex;
  width: 1230px;
  align-content: stretch;
  padding-left: 300px;
}
.nav-list-item {
  margin-right: 8px;
}

.menu-button-all {
  text-decoration: none;
  color: var(--general-color);
  background-color: #f5f4fa;
  border: 1px solid black;
  border-color: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 73px;
  min-height: 38px;
}
.menu-button-all:hover,
.menu-button-all:focus {
  color: var(--general-second-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}
.menu-button {
  text-decoration: none;
  color: var(--general-color);
  background-color: #f5f4fa;
  border: 1px solid black;
  border-color: #f5f4fa;
  border-radius: 4px;
  font-family: Roboto;
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 26px;
  width: 128px;
  min-height: 38px;
}
.menu-button:hover,
.menu-button:focus {
  color: var(--general-second-color);
  background-color: var(--accent-color);
  border-color: var(--accent-color);
  box-shadow: 0px 3px 1px rgba(0, 0, 0, 0.1), 0px 1px 2px rgba(0, 0, 0, 0.08),
    0px 2px 2px rgba(0, 0, 0, 0.12);
  cursor: pointer;
}

/*portfolio-list*/

.portfolio {
  margin-bottom: 106px;
}
.portfolio-list {
  list-style: none;
  display: flex;
  flex-wrap: wrap;
}
.portfolio-list-item {
  margin-right: 30px;
  margin-bottom: 30px;
  border: 1px solid #eeeeee;
}
.portfolio-img {
}
.portfolio-title {
  font-family: Roboto;
  font-style: normal;
  font-weight: bold;
  font-size: 18px;
  line-height: 36px;
  letter-spacing: 0.06em;
  color: var(--general-color);
  padding-top: 24px;
  padding-bottom: 4px;
  padding-left: 24px;
}
.portfolio-paragraph {
  font-family: Roboto;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 30px;
  letter-spacing: 0.03em;
  color: var(--paragraph-color);
  padding-left: 24px;
  padding-bottom: 20px;
}

.main-portfolio {
  width: 1230px;
  margin: 0 auto;
}
